[submodule "Library/DragonLib"]
	path = Library/DragonLib
	url = git@github.com:healingbrew/DragonLib.git
[submodule "Library/GLTFSerialization"]
	path = Library/GLTFSerialization
	url = git@github.com:healingbrew/GLTFSerialization.git
