[submodule "DragonLib"]
	path = Library/DragonLib
	url = git@github.com:healingbrew/DragonLib.git
[submodule "GLTFSerialization"]
	path = Library/GLTFSerialization
	url = git@github.com:healingbrew/GLTFSerialization.git
